<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>1</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>CodecID</key>
			<array>
				<integer>283902610</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>LineIn</string>
				<string>Mic</string>
			</array>
			<key>IntSpeaker</key>
			<dict>
				<key>DefaultVolume</key>
				<integer>4293787648</integer>
				<key>MaximumBootBeepValue</key>
				<integer>111</integer>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspGainStage</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1060589073</integer>
								<key>3</key>
								<integer>1065353216</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
						<key>DspFunction1</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>1</integer>
								<key>DspFuncName</key>
								<string>DspEqualization</string>
								<key>DspFuncProcessingIndex</key>
								<integer>1</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>Filter</key>
								<array>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1130763560</integer>
										<key>7</key>
										<integer>1070386381</integer>
										<key>8</key>
										<integer>-1072672136</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>1</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1146523444</integer>
										<key>7</key>
										<integer>1085382750</integer>
										<key>8</key>
										<integer>-1065208084</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>2</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1136909862</integer>
										<key>7</key>
										<integer>1079886111</integer>
										<key>8</key>
										<integer>-1078358373</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>7</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1143887586</integer>
										<key>7</key>
										<integer>1065390345</integer>
										<key>8</key>
										<integer>-1061237067</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>11</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1158060138</integer>
										<key>7</key>
										<integer>1075419982</integer>
										<key>8</key>
										<integer>-1070474682</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>12</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1165685947</integer>
										<key>7</key>
										<integer>1071872269</integer>
										<key>8</key>
										<integer>-1071887500</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>15</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>0</integer>
										<key>6</key>
										<integer>1183211939</integer>
										<key>7</key>
										<integer>1060461595</integer>
										<key>8</key>
										<integer>-1057893450</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction2</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>2</integer>
								<key>DspFuncName</key>
								<string>DspMultibandDRC</string>
								<key>DspFuncProcessingIndex</key>
								<integer>2</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>Crossover</key>
								<dict>
									<key>4</key>
									<integer>2</integer>
									<key>5</key>
									<integer>0</integer>
									<key>6</key>
									<integer>1140552177</integer>
								</dict>
								<key>Limiter</key>
								<array>
									<dict>
										<key>10</key>
										<integer>-1061306947</integer>
										<key>11</key>
										<integer>1095299313</integer>
										<key>12</key>
										<integer>-1047453406</integer>
										<key>13</key>
										<integer>1069843588</integer>
										<key>14</key>
										<integer>-1027604480</integer>
										<key>15</key>
										<integer>1067582611</integer>
										<key>16</key>
										<integer>1068017833</integer>
										<key>17</key>
										<integer>1084671687</integer>
										<key>18</key>
										<integer>1114944693</integer>
										<key>19</key>
										<integer>1097223759</integer>
										<key>2</key>
										<integer>1</integer>
										<key>20</key>
										<integer>1137180672</integer>
										<key>21</key>
										<integer>0</integer>
										<key>22</key>
										<integer>0</integer>
										<key>23</key>
										<integer>1</integer>
										<key>3</key>
										<integer>0</integer>
										<key>7</key>
										<integer>0</integer>
										<key>8</key>
										<integer>0</integer>
										<key>9</key>
										<integer>-1106210672</integer>
									</dict>
									<dict>
										<key>10</key>
										<integer>-1056915264</integer>
										<key>11</key>
										<integer>1087496674</integer>
										<key>12</key>
										<integer>-1045788022</integer>
										<key>13</key>
										<integer>1067178972</integer>
										<key>14</key>
										<integer>-1027604480</integer>
										<key>15</key>
										<integer>1062952762</integer>
										<key>16</key>
										<integer>1067129627</integer>
										<key>17</key>
										<integer>1082747241</integer>
										<key>18</key>
										<integer>1107789704</integer>
										<key>19</key>
										<integer>1098445042</integer>
										<key>2</key>
										<integer>2</integer>
										<key>20</key>
										<integer>1122485188</integer>
										<key>21</key>
										<integer>0</integer>
										<key>22</key>
										<integer>0</integer>
										<key>23</key>
										<integer>1</integer>
										<key>3</key>
										<integer>0</integer>
										<key>7</key>
										<integer>0</integer>
										<key>8</key>
										<integer>0</integer>
										<key>9</key>
										<integer>-1088249182</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>LineIn</key>
			<dict>
				<key>MuteGPIO</key>
				<integer>2147549210</integer>
			</dict>
			<key>Mic</key>
			<dict>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>0</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>0</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
						<key>DspFunction1</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>1</integer>
								<key>DspFuncName</key>
								<string>DspGainStage</string>
								<key>DspFuncProcessingIndex</key>
								<integer>1</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1078616770</integer>
								<key>3</key>
								<integer>1078616770</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction2</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>2</integer>
								<key>DspFuncName</key>
								<string>DspEqualization</string>
								<key>DspFuncProcessingIndex</key>
								<integer>2</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>Filter</key>
								<array>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1132560510</integer>
										<key>7</key>
										<integer>1064190664</integer>
										<key>8</key>
										<integer>-1057196819</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>8</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1150544383</integer>
										<key>7</key>
										<integer>1068848526</integer>
										<key>8</key>
										<integer>-1073422534</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>15</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>0</integer>
										<key>6</key>
										<integer>1182094222</integer>
										<key>7</key>
										<integer>1063679547</integer>
										<key>8</key>
										<integer>-1048213171</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction3</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>3</integer>
								<key>DspFuncName</key>
								<string>DspMultibandDRC</string>
								<key>DspFuncProcessingIndex</key>
								<integer>3</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>Crossover</key>
								<dict>
									<key>4</key>
									<integer>1</integer>
									<key>5</key>
									<integer>0</integer>
									<key>6</key>
									<integer>1128792064</integer>
								</dict>
								<key>Limiter</key>
								<array>
									<dict>
										<key>10</key>
										<integer>-1068807345</integer>
										<key>11</key>
										<integer>1097982434</integer>
										<key>12</key>
										<integer>-1038380141</integer>
										<key>13</key>
										<integer>1068906038</integer>
										<key>14</key>
										<integer>-1036233644</integer>
										<key>15</key>
										<integer>1065353216</integer>
										<key>16</key>
										<integer>1101004800</integer>
										<key>17</key>
										<integer>1101004800</integer>
										<key>18</key>
										<integer>1128792064</integer>
										<key>19</key>
										<integer>1101004800</integer>
										<key>2</key>
										<integer>1</integer>
										<key>20</key>
										<integer>1127866850</integer>
										<key>21</key>
										<integer>0</integer>
										<key>22</key>
										<integer>0</integer>
										<key>23</key>
										<integer>1</integer>
										<key>3</key>
										<integer>0</integer>
										<key>7</key>
										<integer>0</integer>
										<key>8</key>
										<integer>0</integer>
										<key>9</key>
										<integer>0</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>2</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>2</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
